"*":
  "exception-reporting":
    userId: "cd343df3-174a-6a50-7ece-4bb22fcd0cc8"
  welcome:
    showOnStartup: false
  metrics:
    userId: "f626ffda2e55de3fdfcac5736736b3c51bda5608"
  core:
    disabledPackages: [
      "vim-mode"
    ]
  editor:
    fontSize: 20
  wakatime:
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
    ]
    apikey: "0c2ce033-196d-4798-bc97-9aae64a070ca"
  "autoclose-html": {}
